---
version: '3.4'
services:
  responder:
    image: responder:latest
    entrypoint: ["python3", "-u", "/responder/responder.py"]
    build: 
      context: .
    #command:
      #- --proxy-all=http://api.someservice.com
    environment:
      TZ: "Australia/Sydney"
      WIREMOCK_SERVICE_ID: "sms.restcomm.org"
      #VERBOSE: '1'
      PREPEND_WIREMOCK_OPTS: '--no-request-journal --container-threads 50 --jetty-accept-queue-size 500 --jetty-acceptor-threads 30 --async-response-enabled true'
      #BOOTSTRAP_SERVERS: "lab-shared-kafka-01.int.effortel-tech.com:9092,lab-shared-kafka-02.int.effortel-tech.com:9092,lab-shared-kafka-03.int.effortel-tech.com:9092"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /usr/share/zoneinfo/Australia/Sydney:/etc/localtime:ro
    networks:
      lnet1:
        ipv4_address: 172.27.0.6
        aliases:
          - responder
    ports:
      - "8099:8099/tcp"
      - "8081:8081/tcp"
    depends_on:
     - kafka

  wiremock:
    build:
     dockerfile_inline: |
        FROM amazoncorretto:17-alpine-jdk
        RUN mkdir -p /app/target/dependency
        VOLUME /app/mappings
        VOLUME /app/files
        WORKDIR /app
    entrypoint: | 
      java -jar target/dependency/wiremock-standalone-4.0.0-beta.14.jar --root-dir /app --global-response-templating --verbose true
    environment:
      TZ: "Australia/Sydney"
    volumes:
      - /home/wozza/code/wiremock-test/target/dependency:/app/target/dependency
      - ./mappings:/app/mappings/
      - ./__files:/app/__files
    networks:
      lnet1:
        ipv4_address: 172.27.0.8
        aliases:
          - test_http_app1_1
          - test_http_app1_2
          - test_http_app2_1
          - test_http_app2_2
    ports:
      - "8080:8080/tcp"
    healthcheck:
      test: ["CMD", "curl", "-X", "POST", "-f", "http://localhost:8099/__admin/mappings/reset"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

  kafka:
    image: apache/kafka
    ports:
      - "172.27.0.9:9092:9092/tcp"
      - "172.27.0.9:2182:2182/tcp"
    environment:
      TZ: "Australia/Sydney"
      KAFKA_ADVERTISED_HOST_NAME: kafka
    #volumes: 
      #- ./server.properties:/kafka_2.12-2.0.0/config/server.properties
    networks:
      lnet1:
        ipv4_address: 172.27.0.9
        aliases:
          - kafka
    depends_on:
     - wiremock

volumes:
  logvolume01: {}
  key: {}
  log: {}
  tmp: {}
  mappings: {}
  data: {}
networks:
  lnet1:
    internal: true
    ipam:
      config:
        - subnet: 172.27.0.0/24
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: "true"
  lnet2:
    internal: true
    ipam:
      config:
        - subnet: 172.28.0.0/24
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: "true"
